* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body {
    background: url(imgbg.jpg) no-repeat center center/cover;
    opacity: 0.8;
}
h2 {
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
section {
    padding: 1rem 0.5rem;
    width: 90%;
    margin: 0 auto;
   
}
form div {
    margin-bottom: 0.8rem;
}
.inputs-labels,.radio-labels {
    text-transform: capitalize;
    font-weight: bolder;
    margin-right: 12px;
}
.inputs {
    padding: 0.2rem;
    width: 90%;
    border-radius: 10px;
}
.enroll-btn,.clear-btn {
    padding: 0.5rem 1rem;
    background-image: linear-gradient( 64.5deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
    color: black;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    margin-top:12px;
}
.verticalline{
    width:1px;
    height:500px;
    background-color: black;
    
}

.display {
    margin-top: 2rem;
}
h3 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-weight: bold;
    color: white;
    display: inline-block;
    background-image: linear-gradient( 132.6deg,  rgba(71,139,214,1) 23.3%, rgba(37,216,211,1) 84.7% );
    color: black;
    padding:5px;
    
}
.display article {
    margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
    .form {
         width: 40%;
    }
    .display {
        width: 60%;
        margin-top: 0;
        margin-left: 2rem;
    }
    section {
        display: flex;
    }
}
.card {
    border: 2px solid black;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}
.card-body {
    display: grid;
    place-items: center;
    text-transform: capitalize;
    color: black;
}
h4 {
    text-align: center;
    text-transform: uppercase;
}
.email {
    text-transform: lowercase;
}
.website {
    text-transform: lowercase;
}
.image img {
    width: 150px;
    height: 150px;
}
